<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cied.in.Utz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/utz_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivty"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_splash_activty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AuditingActivity"
            android:label="@string/title_activity_auditing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AuditProfileActivity"
            android:label="@string/title_activity_audit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BasicAuditDetailsActivity"
            android:label="@string/title_activity_basic_audit_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditAuditDetailsActivity"
            android:label="@string/title_activity_edit_audit_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultSheetActivity"
            android:label="@string/title_activity_result_sheet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleAuditListActivity"
            android:label="@string/title_activity_single_audit_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>